<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link>
    <script>
        function updateTable(data) {
            var tableBody = document.getElementById('temperatureTable').getElementsByTagName('tbody')[0];

            data.forEach(row => {
                let dateTime = row.Date.split('T');
                let date = dateTime[0];
                let time = dateTime[1];
                let datetimeAttribute = `${date}_${time}`;

                if (!document.querySelector(`#temperatureTable tr[data-datetime="${datetimeAttribute}"]`)) {
                    var newRow = tableBody.insertRow(0);
                    newRow.setAttribute('data-datetime', datetimeAttribute);

                    var cellDate = newRow.insertCell(0);
                    var cellTime = newRow.insertCell(1);
                    var cellTemperature = newRow.insertCell(2);
                    var cellHumidity = newRow.insertCell(3);
                    var cellIcon = newRow.insertCell(4);

                    cellDate.textContent = date;
                    cellTime.textContent = time;
                    cellTemperature.textContent = row.Temperature;
                    cellHumidity.textContent = row.Humidite;
                    cellIcon.innerHTML = getWeatherIcon(row.Temperature, row.Humidite);
                }
                if (tableBody.rows.length > 12) {
                    tableBody.deleteRow(12);
                }
            });
        }

        function getWeatherIcon(temperature, humidity) {
            if (temperature < 10 && humidity <= 70) {
                return '<i class="fas fa-snowflake"></i>';
            } else if (temperature < 20) {
                return '<i class="fas fa-cloud-rain"></i>';
            } else if (temperature >= 20 && humidity >= 50) {
                return '<i class="fas fa-cloud-sun"></i>';
            } else if (temperature >= 24 && humidity <= 20) {
                return '<i class="fas fa-sun"></i>';
            }
            return '<i class="fas fa-thermometer-half"></i>';
        }

        function fetchAllTemperatureData() {
            fetch('/api/temperature')
                .then(response => response.json())
                .then(data => {
                    updateTable(data);
                })
                .catch(error => console.error('Error fetching all temperature data:', error));
        }

        function fetchRecentTemperatureData() {
            fetch('/api/temperature/recent')
                .then(response => response.json())
                .then(data => {
                    updateTable(data);
                    // console.log(data);
                })
                .catch(error => console.error('Error fetching recent temperature data:', error));
        }

        // Fonction pour partager sur Twitter
        function shareOnTwitter() {
            getTemperatureDataToShare();
        }

        function getTemperatureDataToShare() {
            // Effectuer une requête à l'API Flask pour obtenir les données de température
            fetch('/api/temperature/share')
                .then(response => response.json())
                .then(data => {
                    // Les données sont maintenant disponibles dans la variable 'data'
                    console.log('Données de température:', data);

                    // Construire le message à partager sur Twitter
                    var tweet = "Dernières données de température:\n";
                    data.forEach(function (entry) {
                        tweet += `${entry.Date}: Température ${entry.Temperature}°C, Humidité ${entry.Humidite}%\n`;
                    });

                    // URL de partage sur Twitter avec le message
                    var twitterShareUrl = `https://twitter.com/intent/tweet?text=${encodeURIComponent(tweet)}`;

                    // Ouvrir une nouvelle fenêtre pour le partage sur Twitter
                    var twitterWindow = window.open(twitterShareUrl, '_blank');

                    // Vérifier si la fenêtre a été ouverte avec succès
                    if (twitterWindow) {
                        // Message de réussite
                        alert("Données partagées sur Twitter avec succès !");
                    } else {
                        // Message d'échec
                        alert("Échec de l'ouverture de la fenêtre de partage sur Twitter. Assurez-vous que les pop-ups ne sont pas bloqués.");
                    }
                })
                .catch(error => {
                    console.error('Erreur lors de la récupération des données de température:', error);
                    // Message d'erreur en cas d'échec
                    alert("Erreur lors de la récupération des données de température. Veuillez réessayer.");
                });
        }

        document.addEventListener('DOMContentLoaded', fetchAllTemperatureData);

        // Fetch recent data every 5 seconds
        setInterval(fetchRecentTemperatureData, 5000);
    </script>

</head>
<body>
    <a href="{{ url_for('home') }}"><button class="home-return">Accueil</button></a>
    <a href="{{ url_for('logout') }}"><button class="home-return">Se deconnecter</button></a>


    <h1>Bonjour {{ session.get('username', 'Guest')|upper }}! </h1>
    <h1>Dernières données de température</h1>
    <table class="temperatureTable" id="temperatureTable">
        <thead>
            <tr>
                <th id="date">Date</th>
                <th id="Heure">Heure</th>
                <th id="temperature">Température (°C)</th>
                <th id="humidity">Humidité (%)</th>
                <th id="meteo">Météo</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div>
        <a href="#" id="shareButton" class="home-return action-button" onclick="shareOnTwitter()">Partager sur Twitter</a>
    </div>
    <a href="{{ url_for('graphique') }}"><button class="home-return">Afficher le graphique</button></a>
    <a href="{{ url_for('carte') }}"><button class="home-return">Afficher la carte</button></a>

    <div class="cesi-form">
        <header>
            <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/ef/Logo_cesi_2022.png/1200px-Logo_cesi_2022.png" alt="CESI Logo" style="width: 50px; height: auto;">
        </header>
        <h3>| CESI | École d'ingénieurs | DI 2023-2025 |</h3>
    </div>
</body>
</html>