<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link>
    <script>
        function updateTable(data) {
            var tableBody = document.getElementById('temperatureTable').getElementsByTagName('tbody')[0];
    
            data.forEach(row => {
                let dateTime = row.Date.split('T');
                let date = dateTime[0];
                let time = dateTime[1];
                let datetimeAttribute = `${date}_${time}`;
    
                if (!document.querySelector(`#temperatureTable tr[data-datetime="${datetimeAttribute}"]`)) {
                    var newRow = tableBody.insertRow(0);
                    newRow.setAttribute('data-datetime', datetimeAttribute);
    
                    var cellDate = newRow.insertCell(0);
                    var cellTime = newRow.insertCell(1);
                    var cellTemperature = newRow.insertCell(2);
                    var cellHumidity = newRow.insertCell(3);
    
                    cellDate.textContent = date;
                    cellTime.textContent = time;
                    cellTemperature.textContent = row.Temperature;
                    cellHumidity.textContent = row.Humidite;
                }
            });
        }
    
        function fetchAllTemperatureData() {
            fetch('/api/temperature')
                .then(response => response.json())
                .then(data => {
                    updateTable(data);
                })
                .catch(error => console.error('Error fetching all temperature data:', error));
        }
    
        function fetchRecentTemperatureData() {
            fetch('/api/temperature/recent')
                .then(response => response.json())
                .then(data => {
                    updateTable(data);
                    // console.log(data);
                })
                .catch(error => console.error('Error fetching recent temperature data:', error));
        }
    
        document.addEventListener('DOMContentLoaded', fetchAllTemperatureData);
    
        // Fetch recent data every 5 seconds
        setInterval(fetchRecentTemperatureData, 5000);
    </script>
    
</head>
<body>
    <a href="{{ url_for('home') }}"><button class="home-return">Accueil</button></a>
    <a href="{{ url_for('logout') }}"><button class="home-return">Se deconnecter</button></a>


    <h1>Bonjour {{ session.get('username', 'Guest')|upper }}! </h1>
    <h1>Dernières données de température</h1>
    <table class="temperatureTable" id="temperatureTable">
        <thead>
            <tr>
                <th id="date">Date</th>
                <th id="Heure">Heure</th>
                <th id="temperature">Température (°C)</th>
                <th id="humidity">Humidité (%)</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <a href="{{ url_for('graphique') }}"><button class="home-return">Afficher le graphique</button></a>
<div class="cesi-form">
    <header>
        <img src="https://upload.wikimedia.org/wikipedia/fr/thumb/e/ef/Logo_cesi_2022.png/1200px-Logo_cesi_2022.png" alt="CESI Logo" style="width: 50px; height: auto;">
    </header>
    <h3>| CESI | École d'ingénieurs | DI 2023-2025 |</h3>
</div>
</body>
</html>